<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>

    <add key="hello" value="world"/>

    <!--<add key="LogoImgSrc" value="E:\GitHub-Clone\radium_1\logo_2_1.jpg"/>-->
    <!--<add key="LogoImgSrc" value="E:\GitHub-Clone\radium_1\POSMainForm\Resources\logo_2_1.jpg"/>-->
    <add key="LogoImgSrc" value="D:\POS_1\Debug\Resources\logo_2_1.jpg"/>


    <!--<add key="DBName" value="posisdb_1"/>-->
    <add key="DBName" value="posisdb_csharp"/>
    <add key="DBHost" value="192.168.10.5"/>
    <add key="DBPort" value="3306"/>
    <add key="DBUser" value="guest"/>
    <add key="DBPwd" value="guest"/>


  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="YourLogFile.txt"/>
        <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="YourEventLogSource" />
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>


</configuration>
